body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4; /* light gray background #f4f4f4 */
}


/* Here try to make nav bar more clear and beautiful*/
.navbar ul {
    list-style-type: none;
    background-color: #6e6666;
    padding: 0px; /* This one change the size of the nav bar from top to bottom */
    margin: 0px;
    overflow: hidden; /* clear floats and write the items horizontally not vertically */
    border-radius: 8px; /* rounded corners */
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none; /* remove underline */
}

.navbar ul li a:hover {
    background-color: #575757;
}

/* Below line one target the Bookshelf title */
/* .navbar-brand { 
    font-size: 40px;
    font-weight: bold;
    color: rgb(23, 20, 20);
    padding: 14px 16px;
    text-decoration: none;
} */

/* nav bar finished*/


h1 {
    color: #444;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 20px;
}

#recent-books {
    color: #555;
    text-align: center;
    margin-top: 20px;
    background-color: #fff;          /* white background */
    border: 1px solid #ccc;          /* light border */
    border-radius: 8px;              /* rounded corners */
    padding: 15px;                   /* space inside */
    margin-bottom: 15px;             /* space between boxes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* light shadow */
}

p {
    color: #333;
    line-height: 1.5;
}

#intro {
    font-style: italic;
    color: #666;
    border: 1px solid #0056b3;
}

.book-box {
    background-color: #fff;          /* white background */
    border: 1px solid #ccc;          /* light border */
    border-radius: 8px;              /* rounded corners */
    padding: 15px;                   /* space inside */
    margin-bottom: 15px;             /* space between boxes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* light shadow */
}

.book-box strong {
    display: block;                  /* title on its own line */
    font-size: 18px;
    margin-bottom: 5px;
}

.book-box .intro {
    color: #555;
    margin: 0;
}

.featured-book {
  margin-bottom: 30px;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.featured-card strong {
  font-size: 20px;
}

.recent-books ol {
  padding-left: 20px;
}

