<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
</head>
<body>
    <h1>Welcome to Bookshelf</h1>
    <h2>My Books</h2>
    <ol>
        <li>The Clash of Civilizations and the Remaking of World Order by Samuel P. Huntington</li>
    </ol>

    <button>Add your book</button>

    <h1>Recent book</h1>
    <h2>The Clash of Civilizations by Samuel P. Huntington</h2>
    <h3>Description</h3>
    <p>Not a bad book, but a shallow book about most of the things</p>

</body>
</html>